$primary-color: #0b6814;
$primary-color-light: #66964c;
$primary-color-verylight: #d8ebd5;
$primary-gradient: linear-gradient(81.97deg, #0b6814 2.15%, #57b845 59.43%, #66964c 105.66%);

.disabled {
    opacity: 0.7;
    cursor: not-allowed !important;
    filter: grayscale(100%);
}

#header-part-page-2 {
    background: $primary-gradient;
    position: relative;
    button.analysis {
        background: white;
        color: $primary-color;
        border: none;
        padding: 3px 20px;
        font-weight: 500;
        font-size: 18px;
        border-radius: 50px;
    }

    section#header-content {
        .weakend-offer {
            background: $primary-color-verylight;
        }

        .bee-and-cloud {
            margin-bottom: 0.2rem;
            padding: 30px;
            padding-bottom: 5px;
            align-items: center;
            transform: translate(0px, -30px);
            [class*="col-"] {
                padding: 0px !important;
            }
            div.bee {
                text-align: center;
                transform: translate(0px, 4px);
                img {
                    width: 170px;
                    height: 100%;
                }
            }
            div.cloud {
                position: relative;
                height: 200px;
                z-index: 1;
                height: 100%;
                display: grid;
                place-items: center;
                transform: translate(-61px, -34px);

                img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                }
                .cloud-content {
                    width: 300px;
                    text-align: center;
                    height: 50px;
                }
            }
            @media screen and (max-width: 1040px) {
                div.bee {
                    transform: translate(10px, 10px);
                }
                div.cloud {
                    transform: translate(10px);
                    .cloud-content {
                        transform: translateX(40px);
                        h5 {
                            font-size: 15px;
                        }
                    }
                }
            }
            @media screen and (max-width: 899px) {
                .bee-and-cloud {
                    transform: translate(0);
                }
                div.bee {
                    img {
                        width: 150px;
                    }
                }
                div.cloud {
                    .cloud-content {
                        width: 180px;
                        h5 {
                            font-size: 14px;
                        }
                    }
                }
            }
            @media screen and (max-width: 767px) {
                transform: translate(0);

                padding: 10px;

                div.cloud {
                    .cloud-content {
                        width: 150px;
                        transform: translateX(19px);
                        h5 {
                            font-size: 13px;
                        }
                    }
                }
            }
            @media screen and (max-width: 767px) {
                margin-bottom: 20px;
            }
        }
    }

    .shape-divide {
        position: absolute;
        bottom: -1px;
        width: 100%;
        left: 0px;
        height: 54px;
        @media screen and (max-width: 767px) {
            height: auto;
        }
    }
}

main#page_2 {
    #carousel-1_2 {
        background: url(../images/page-2-circel-background.svg) no-repeat top left;
        background-size: cover;

        [id*="catagory_"] {
            position: relative;

            &#catagory_1 {
                margin-top: -30px;
            }
            .toogle___QUIZE_SITEBAR {
                position: absolute;
                right: 70px;
                top: 60px;

                .toogle-icon {
                    font-size: 20px;
                    padding: 10px 15px;
                    background: $primary-color;
                    color: $primary-color-verylight;
                    border-radius: 50%;
                    cursor: pointer;
                    box-shadow: 1px 2px 4px rgba(255, 255, 255, 0.25);

                    &:active {
                        background: darken($color: $primary-color-verylight, $amount: 30);
                    }
                }
                .toogle-content {
                    position: fixed;
                    z-index: 100;
                    top: 0px;
                    right: -110%;
                    height: 100%;
                    width: 100%;
                    transition: 0.5s;
                    overflow: hidden;
                    overflow-y: auto;
                    &::-webkit-scrollbar {
                        display: none;
                    }
                    &.view {
                        right: 0px;
                    }

                    .content-wrapper {
                        position: relative;
                        z-index: 21;
                        .toggle-content-canceler {
                            width: 100%;
                            z-index: -1;
                            background: #0b681479;
                            position: absolute;
                            top: 0px;
                            left: 0px;
                            img{
                                width:200px;
                                height:200px;
                                position: absolute;
                                right:40%;
                                top:10%;
                                opacity: 0.5;
                            }
                        }
                        .content {
                            width: 300px;
                            margin-left: auto;
                            padding: 10px;
                            height: auto;
                            background: darken($color: $primary-color-light, $amount: 30);
                        }
                    }
                    ul {
                        list-style: none;
                        padding: 0px;
                        li {
                            font-size: 18px;
                            font-weight: 400;
                            background: darken($color: $primary-color-light, $amount: 25);
                            color: darken($color: $primary-color-verylight, $amount: 4);
                            padding: 10px;
                            margin-bottom: 10px;
                            padding-left: 30px;
                            &:hover,
                            &:focus,
                            &:active {
                                background: darken($color: $primary-color-light, $amount: 30);
                            }
                        }
                    }
                }
                @media screen and (max-width: 767px) {
                    right: 9px;
                    top: 40px;
                }
            }
            .mySwiper_page_2_ctg_1 {
                .swiper-slide.quize-card-page-2 {
                    height: 238px;
                    background: $primary-color-verylight;
                    background: #d8ebd5;
                    border: 2px solid #bde2b6;
                    box-sizing: border-box;
                    box-shadow: 0px 1px 2px 2px #cbcbcb;
                    border-radius: 11px;
                    overflow: hidden;

                    .wrapper_p2SchCH {
                        position: relative;
                        width: 100%;
                        height: 180px;
                        z-index: 1;
                        button.theme-btn-reverse {
                            position: absolute;
                            top: 56%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                        img.quize-img_DISH {
                            position: absolute;
                            z-index: -1;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
    }
}
