@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0px;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}
html {
    overflow-x: hidden;
    body {
        overflow: hidden;
    }
}

:root {
    --green-very-dark: #183820;
    --green-dark: #006922;
    --gren-semi-dark: #2a9f43;
    --green-normal: #2a9f43;
    --green-semi-light: #55d073;
    --green-q-light: #8dd691;
    --green-overlay: #dffee8;
}

.theme-btn {
    background: var(--green-dark);
    color: white;
    &:hover {
        background: darken($color: #006922, $amount: 5);
        color: white;
    }
}
.theme-btn-outline {
    background: white;
    border: 1px solid var(--green-dark);
    color: var(--green-dark);
    &:hover {
        background: var(--green-dark);
        color: white;
    }
}

@media screen and (min-width: 800px) {
    nav#navbar {
        // background: var(--green-dark);

        // overflow-x: hidden;
        .navbar-container {
            display: flex;

            & > .navbar-brand {
                color: white;
            }

            .navbar-items-container {
                display: flex;
                width: 100%;
                justify-content: flex-end;

                .navbar-item {
                    div.dropdown-wrapper {
                        position: relative;
                        z-index: 1;
                        .dropdown-link {
                            display: inline-block;
                            padding: 10px;
                            text-decoration: none;
                            color: white;
                        }

                        .dropdown-items {
                            // display: none;
                            position: absolute;
                            top: 40px;
                            left: 10px;
                            padding-top: 20px;
                            // background:red;

                            ul.item-container {
                                background: rgb(233, 233, 233);
                                list-style: none;
                                padding-left: 0px;
                                width: 200px;
                                border-radius: 10px;
                                overflow: hidden;
                                margin-bottom: 0px;
                                // height:0px;
                                display: none;
                                li.item {
                                    a.link {
                                        display: inline-block;
                                        text-decoration: none;
                                        padding: 7px;
                                        padding-left: 20px;
                                        width: 100%;
                                        color: grey;
                                        font-weight: 600;
                                        &:hover {
                                            background: #ccccccbb;
                                        }
                                    }
                                }
                            }
                        }

                        &:hover {
                            ul.item-container {
                                display: block;
                            }
                        }
                    }
                }
            }
            .navbar-toggler {
                display: none;
            }
            .container-closer {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    nav#navbar {
        .navbar-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0px 20px;
            max-width: 500px;
            .navbar-items-container {
                position: fixed;
                background: #ddd;
                width: 100%;
                height: 100%;
                left: -100%;
                top: 0px;
                overflow-y: auto;
                transition: 0.5s;
                z-index: 100;

                &.active {
                    left: 0px;
                }
                .navbar-item {
                    .dropdown-wrapper {
                        .dropdown-link {
                            text-decoration: none;
                            padding: 7px 10px;
                            display: inline-block;
                            border-bottom: 1px solid rgb(206, 206, 206);
                            border-top: 1px solid rgb(206, 206, 206);
                            width: 100%;
                            color: grey;
                            font-weight: 600;
                        }
                        .dropdown-items {
                            transition: 0.5s;
                            max-height: 0;
                            overflow: hidden;
                            .item-container {
                                list-style: none;
                                padding-left: 0px;
                                margin-bottom: 0px;
                                background: rgb(212, 212, 212);
                                padding: 10px 0px;

                                .item {
                                    .link {
                                        text-decoration: none;
                                        color: rgb(104, 104, 104);
                                        padding: 5px 15px;
                                        display: inline-block;
                                    }
                                }
                            }
                        }
                    }
                }
                .container-closer {
                    position: fixed;
                    top: 20px;
                    right: -100%;
                    transition: 0.5s;
                    z-index: 101;

                    &.active {
                        right: 20px;
                    }
                    .iconify {
                        font-size: 30px;
                        color: red;
                    }
                }
            }

            .navbar-toggler {
                .iconify-inline {
                    font-size: 20px;
                    color: white;
                }
            }
        }
    }
}
nav#navbar {
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 100;
    transition: 0.2s;
}

header#header {
    min-height: 90vh;
    display: flex;
    align-items: center;
    position: relative;
    .header-pattern-image {
        position: absolute;
        z-index: -2;
        top: 0px;
        width: 100%;
        height: 100%;
        left: 0px;
    }
    .header-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(284.34deg, #0b6814 1.31%, #57b845 55.68%, #48a83b 66.6%, #46a63a 70.09%, #17751c 99.56%);
        mix-blend-mode: normal;
        opacity: 0.96;
        z-index: -1;
    }
}

.glass-card {
    background: linear-gradient(249.16deg, rgba(255, 255, 255, 0.066) 2.76%, rgba(255, 255, 255, 0.3) 97.47%);
    box-shadow: 0px 0px 50px 8px rgba(0, 0, 0, 0.06);
    backdrop-filter: blur(36px);
    padding: 10px;
    border-radius: 12px;
    text-align: center;
    &:hover {
        background: linear-gradient(249.16deg, rgba(255, 255, 255, 0.178) 2.76%, rgba(255, 255, 255, 0.432) 97.47%);
    }

    .glass-btn {
        border: none;
        outline: none;
        background: linear-gradient(302.19deg, rgba(255, 255, 255, 0.1368) 1.39%, rgba(255, 255, 255, 0.36) 98.17%);
        backdrop-filter: blur(36px);
        border-radius: 12px;
        color: white;
        padding: 3px 10px;
        margin: 10px auto;
    }
}

/* subscribe newsletter section */
section#subs-newslatter {
    .newslatter-form-box {
        background: url(../images/newslatter-bg-shape.png) no-repeat;
        border-radius: 30px;
        background-size: cover;

        .input-group {
            input.form-control {
                background: linear-gradient(249.16deg, rgba(255, 255, 255, 0.066) 2.76%, rgba(255, 255, 255, 0.3) 97.47%);
                box-shadow: 0px 0px 50px 8px rgba(0, 0, 0, 0.06);
                backdrop-filter: blur(36px);
                border: none;
                font-size: 18px;
                padding: 10px;
                padding-left: 20px;
                color: white;
                font-style: italic;
                font-weight: 500;

                &::placeholder {
                    color: #fff;
                    font-weight: 300;
                }
            }
            button.input-group-text {
                background: var(--green-dark);
                border: none;
                color: white;
            }
        }
    }
}

/* our result css */
#our-result {
    position: relative;
    z-index: 1;
    background: var(--green-overlay);
    #our-result-carousel-container {
        #our-result-carousel {
            position: relative;
            .swiper-wrapper{
                .swiper-slide{
                    img{
                        border-radius: 20px;
                    }
                }
            }
        }
    }

    .shape {
        padding: 50px;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        position: absolute;
        z-index: -1;
        background: radial-gradient(77.31% 77.31% at 55.71% 22.69%, #9eda9f 0%, #b0e1b1 19%, #81d783 34.55%, #a5dea6 51.14%, #d4f1d4 69.43%, #a0e7a2 85.45%, #8bef8d 100%);
        top: 0px;
        left: 0px;
        animation: up-down 15s infinite linear;
        @media screen and(max-width:800px) {
            width: 100px;
            height: 100px;
        }
    }
    .shape-2 {
        @extend .shape;
        right: 0px;
        left: auto;
        bottom: 100px;
        top: auto;
        animation-name: up-down-revarse;
    }
}

@keyframes up-down {
    0% {
        transform: translate(0%, 0%) rotate(0);
    }
    50% {
        transform: translate(-20%, -20%) rotate(180deg);
    }
    100% {
        transform: translate(0%, 0%) rotate(360deg);
    }
}
@keyframes up-down-revarse {
    0% {
        transform: translate(-20%, -20%) rotate(360deg);
    }
    50% {
        transform: translate(0%, 0%) rotate(180deg);
    }
    100% {
        transform: translate(-20%, -20%) rotate(0deg);
    }
}

/* super kid section css */
/* =========================== */
section#super-kids {
    .superkid-banner-box {
        background: url(../images/super-kid-banner.png);
        min-height: 250px;
        padding: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        h1 {
            font-weight: 800;
            color: var(--green-dark);
        }
    }

    .superkid--quize-card-container {
        margin-top: -50px;
        margin-bottom: 50px;
        cursor: pointer;
        .superkid--quize-card {
            position: relative;
            z-index: 1;
            border-radius: 11px;
            overflow: hidden;
            background: white;
            transition: 0.5s;

            &::before {
                position: absolute;
                content: "";
                display: block;
                width: 100%;
                height: 100%;
                background: var(--green-normal);
                z-index: -1;
                clip-path: circle(0.3% at 100% 0);
                transition: 0.3s;
            }
            &:hover {
                transform: translateY(-20px);
                &::before {
                    clip-path: circle(110.8% at 77% 21%);
                }
                color: white;
            }
            .upper {
                box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
                border-radius: 18px 18px 0px 0px;
                padding: 10px;
                border: 1px solid rgba(211, 211, 211, 0.432);
                border-bottom: none;

                .icon-and-text {
                    .icon {
                        img.superkid-card-icon-image {
                            max-width: 100px;
                        }
                    }
                    .text {
                        h6 {
                            font-weight: 700;
                        }
                        p {
                            font-size: 14px;
                        }
                    }
                }
                .text-and-btn {
                    .col-7 > p {
                        font-size: 14px;
                    }
                    .col-5 > button.theme-btn {
                        font-size: 12px;
                    }
                }
            }
            .down {
                border: 1px solid rgba(211, 211, 211, 0.432);
                border-radius: 0px 0px 11px 11px;
                padding: 10px 7px;
                .iconify {
                    font-size: 50px;
                    color: var(--green-dark);
                    margin-right: 10px;
                    animation: color-changing 2s infinite alternate linear;
                }
                p {
                    font-size: 13px;
                }
            }
        }
    }
}

@keyframes color-changing {
    0% {
        color: var(--green-very-dark);
    }
    50% {
        color: var(--green-normal);
    }
    100% {
        color: var(--green-q-light);
    }
}

/* discover learing video carousel */

section#discover-video {
    .discover-learning-video-slider {
        #discover-slider {
            margin-bottom: 40px;
            .swiper-wrapper {
                cursor: default !important;
                .swiper-slide {
                    transform: scale(0.8);
                    transition: 0.5s;
                    border-radius: 10px;
                    overflow: hidden;
                    &.swiper-slide-active {
                        transform: scale(1);
                    }
                }
            }
        }
    }
}

.discover-card {
    height: 300px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    .image img {
        width: 100%;
        border-radius: 20px;
    }
    .play-icon {
        position: absolute;
        cursor: pointer;
        text-align: center;
        &:hover {
            img {
                width: 100px;
            }
        }
        img {
            width: 50px;
        }
    }
}

/* our catagory css */
section#our-catagories {
    ul.catagory-tabs-list {
        border-bottom: 3px solid var(--green-dark);
        li.nav-item {
            button.nav-link {
                background: var(--green-normal);
                color: white;
                margin: 0 10px;
                padding: 10px 25px;
                &.active {
                    background-color: var(--green-dark);
                }
            }
        }

        @media screen and (max-width: 1224) {
            li.nav-item {
                button.nav-link {
                    padding: 5px 10px;
                    font-size: 16px;
                    margin: 0 2px;
                    margin-bottom: 10px;
                }
            }
        }
        @media screen and (max-width: 768px) {
            li.nav-item {
                button.nav-link {
                    padding: 5px 10px;
                    font-size: 14px;
                    margin: 0 2px;
                }
            }
        }
    }

    .catagories-tab-content {
        .catagory-tab-pane {
            .catagory-card-wrapper {
                padding: 20px;
                .catagory-card {
                    & > .card-body {
                        .card-text {
                            font-size: 23px;
                        }
                        .feature-list {
                            & > .d-flex {
                                margin-bottom: 10px;
                                align-items: center;
                                .iconify {
                                    font-size: 30px;
                                    margin-right: 10px;
                                    color: white;
                                    background: var(--green-semi-light);
                                    padding: 5px;
                                    box-sizing: content-box;
                                    border-radius: 50%;
                                }
                            }
                        }
                    }

                    .card-footer {
                        div.btn.btn-success {
                            background: var(--gren-semi-dark);
                            border-radius: 0px;
                        }
                    }
                }
                @media screen and (max-width: 768px) {
                    padding: 5px;
                    .catagory-card {
                        & > .card-body {
                            .card-text {
                                font-size: 15px;
                            }
                            .feature-list {
                                padding: 0px !important;
                                & > .d-flex {
                                    .iconify {
                                        font-size: 15px;
                                        padding: 2px;
                                    }
                                    p {
                                        font-size: 14px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* why learn edu.. feature card */
section#why-learnedu {
    margin-bottom: 50px;
    .feature-card-wrapper {
        .feature-card {
            img {
                background: var(--green-q-light);
                padding: 15px 10px;
                max-width: 80px;
                border-radius: 50%;
                margin-bottom: 10px;
            }
            h3 {
                font-weight: 400;
                color: var(--green-dark);
            }
        }
    }

    .some-best-teacher {
        position: relative;
        z-index: 1;
        border-radius: 30px;
        overflow: hidden;
        img {
            width: 100%;
            min-height: 300px;
            object-fit: cover;
            height: 300px;
        }
        .upper-text {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            text-align: center;
            transform: translate(-50%, -50%);
            color: white;

            .play-icon {
                svg.play-icon-svg {
                    width: 80px;
                    circle.white-circle {
                        transform-origin: center;
                        animation: zoom-up-down 1s infinite alternate;
                    }
                    circle.white-circle-2 {
                        transform-origin: center;
                        animation: zoom-up-down 1s infinite alternate;
                        animation-delay: 1s;
                        fill: var(--green-q-light);
                    }

                    path.play-triangle {
                        animation: color-changed 1s infinite alternate;
                    }
                }
            }
        }

        &::before {
            position: absolute;
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            background: #00000076;
        }
    }

    .counters-container {
        --bg: #fdeeee;
        --color: #f48282;
        --digit: #b16969;
        .col:nth-child(2) {
            --bg: #e6f3fa;
            --color: #6bc5f6;
            --digit: #61a0b4;
        }
        .col:nth-child(3) {
            --bg: #f4e6fa;
            --color: #ca56fc;
            --digit: #9d62b6;
        }
        .col:nth-child(4) {
            --bg: #f1fef1;
            --color: #00ce02;
            --digit: #61b464;
        }
        .col > .counter-card {
            padding: 10px;
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 10px;
            border-radius: 10px;
            background: var(--bg);
            box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.116);

            p {
                margin-bottom: 0;
                font-size: 30px;
                color: var(--digit);
                span.counter-digit {
                    font-family: sans-serif;
                }
            }
            h3 {
                margin-bottom: 0;
                color: var(--color);
            }
        }
    }

    @media screen and (max-width: 420px) {
        .feature-card-wrapper {
            margin: 10px auto;
            .feature-card {
                img {
                    padding: 10px 7px;
                    max-width: 60px;
                }
                h3 {
                    font-size: 18px;
                }
                p {
                    font-size: 14px;
                }
            }
        }
        .counters-container {
            .col > .counter-card {
                h3 {
                    font-size: 18px;
                }
                p {
                    font-size: 18px;
                }
            }
        }
    }
}

// keyframes for this section
@keyframes zoom-up-down {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
@keyframes color-changed {
    from {
        fill: white;
        transform: translate(-15px);
    }
    to {
        fill: var(--green-dark);
        transform: translate(0);
    }
}

/* Review Section CSS 
===================================*/
section#review {
    margin-bottom: 50px;
    & > .title {
        margin-bottom: 20px;
    }
    #review-slider {
        .testimonial-review-slider {
            padding: 20px 0px;
            .swiper-slide {
                height: auto;
                & > .review-card {
                    background: linear-gradient(99.2deg, rgba(255, 255, 255, 0.076) 1.65%, rgba(255, 255, 255, 0.074) 99.38%);
                    border: 1px solid rgba(193, 187, 187, 0.28);
                    box-sizing: border-box;
                    backdrop-filter: blur(15px);
                    border-radius: 17px;
                    padding: 15px;
                    height: 100%;
                    color: rgb(158, 158, 158);
                    position: relative;
                    .glass-pattern {
                        position: absolute;
                        z-index: -1;
                        width: 100%;
                        height: 100%;
                        top: 0px;
                        left: 0px;
                        border-radius: inherit;
                        opacity: 0.5;
                    }

                    .review-card__image {
                        width: 50px;
                        border-radius: 50%;
                    }

                    .review-card__name {
                        margin-left: 10px;
                        h5,
                        p {
                            line-height: 17px;
                        }
                    }

                    .review-text {
                        padding: 10px;
                        text-align: center;
                        font-weight: 400;

                        .review-text__reviewer-name {
                            text-align: end;
                            margin-top: 15px;
                            span.name {
                                font-style: italic;
                                position: relative;
                                z-index: 1;
                                &::before {
                                    position: absolute;
                                    content: "";
                                    display: block;
                                    width: 200px;
                                    background: rgb(211, 211, 211);
                                    height: 5px;
                                    border-radius: 5px;
                                    right: 110%;
                                    top: 8px;
                                }
                            }
                        }
                    }
                }
            }
            .swiper-pagination {
                bottom: 0px;
                .swiper-pagination-bullet {
                    width: 40px;
                    border-radius: 0px;
                    height: 4px;
                    background: var(--green-dark);

                    &.swiper-pagination-bullet-active {
                        opacity: 0.6;
                    }
                }
            }
        }

        & > .container {
            position: relative;
            z-index: 1;
            img.quote {
                position: absolute;
                width: 100px;
                z-index: -1;
                &._1 {
                    top: -20px;
                    left: 0px;
                }
                &._2 {
                    bottom: -20px;
                    right: 0px;
                    transform: rotate(180deg);
                }
            }
        }
    }

    @media screen and (max-width: 740px) {
        #review-slider {
            & > .container {
                img.quote {
                    width: 70px !important;
                    &._1 {
                        top: 5px;
                    }
                    &._2 {
                        bottom: 5px;
                    }
                }
            }
        }
    }
}

/*  ELdu section Css here
===================================*/
section#ELdu {
    min-height: 250px;
    background: var(--green-semi-light);
    display: flex;
    flex-flow: column;
    justify-content: center;
    position: relative;
    z-index: 1;
    .ELdu-text {
        .ELdu-text__box {
            color: white;
            * {
                margin-bottom: 0px;
            }
            button {
                border: 0px;
                padding: 5px 25px;
                min-width: 150px;
                border-radius: 20px;
                color: var(--green-dark);
                background: white;
                margin-top: 10px;
            }
        }
    }
    .ELdu-image__img {
        position: absolute;
        max-width: 320px;
        left: 50%;
        bottom: 0;
        z-index: -1;
    }

    @media screen and (max-width: 650px) {
        .ELdu-image__img {
            right: -100px;
            left: auto;
        }
    }
    @media screen and (max-width: 500px) {
        justify-content: center;
        align-items: center;
        margin-top: 100px;
        padding: 10px;
        .ELdu-image__img {
            position: static;
            order: 0;
            margin-top: -50px;
            width: 100%;
        }
        & > .container {
            order: 1;
            .ELdu-text__box {
                margin-top: 20px;
                text-align: center;
                h1 {
                    font-size: 25px;
                }
            }
        }
    }
}

/* footer CSS
===================================*/

footer#footer {
    --bg: #373d46;
    --color: #646b75;
    background: var(--bg);
    color: var(--color);
    padding: 30px 0;
    padding-bottom: 10px;

    .logo-and-title {
        text-align: center;
        img {
            width: 100px;
            margin-bottom: 10px;
        }
        h2 {
            line-height: 12px;
        }
        h4 {
            font-size: 20px;
            margin-bottom: 10px;
        }
        & > .icons {
            .iconify {
                font-size: 35px;
                margin: 0 5px;
            }
        }
    }

    .contact-us__form {
        text-align: center;
        input,
        textarea {
            background: #444b55 !important;
            border: none;
            margin-bottom: 10px;
            resize: none;
            color: #868a8f;
            font-weight: 500;
            &:focus,
            &:active {
                outline: none;
                box-shadow: none;
            }
        }

        button[type="submit"] {
            border: none;
            background: var(--color);
            color: var(--bg);
            padding: 5px 15px;
            font-weight: bold;
            border-radius: 50px;
        }
    }
}
